<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>

<title>Nasa Stuffs</title>
<style>
    * {
        margin: 0;
        padding: 0;
    }
    .imgbox {
        display: grid;
        width: 100%;
    }
    .center-fit {
        max-width: 100;
        max-height: 100vh;
        margin: auto;
    }
</style>



</head>
<body>
    <div id='app'>
    <div v-if="done == true">
    <h2>{{ APOD_data['title'] }}</h2>
    <p v-if="APOD_data['explanation'].length < 100">{{ APOD_data['explanation'] }}</p>
    </div>
    <div v-if="media_type == 'video'">
    <a v-bind:href="APOD_data['url']">
    {{ APOD_data['url'] }}
    </a>
    </div>
    <img id='img' class="imgbox"> 
    <div v-if="done == true">
    <p v-if="APOD_data['explanation'].length > 100">{{ APOD_data['explanation'] }}</p>


    </div>

    </div>






<script>var vue = new Vue({
    el: '#app',
    data: {
        nasa_api_key : "RytX9Z1OHIR9Ya7NZEJkTVuffwjNBYQVvtfbWyw4",
        APOD_api_url : `https://api.nasa.gov/planetary/apod?api_key=RytX9Z1OHIR9Ya7NZEJkTVuffwjNBYQVvtfbWyw4`,
        APOD_data : undefined,
        done : false,
        media_type : ""
    },
    created() {
        var get_APOD = fetch(this.APOD_api_url)
            .then(response => response.json())
            .then(json =>{
                this.APOD_data = json;
                var image = document.createElement("img");
                var img = document.getElementById('img');
                img.src = this.APOD_data['hdurl'];
                this.done = true;
                this.media_type = this.APOD_data['media_type']
            });
    }
});</script>
</body>
</html>
